h2
    font-family: Oswald
    font-weight: 700
    font-size: 30px
    line-height: 40px
    color: #310018

.container
    max-width: 1224px

header
    background: $main-color
    nav
        display: flex
        padding: 0px 140px 0px 140px
        .logo
            display: flex
            width: auto
            height: 43px
            padding-top: 20px
            &_img
                width: 45px
                height: 40px
            &_dscr
                font-family: Oswald
                margin-top: 13px
                font-weight: 600
                font-size: 20px
                line-height: 30px
                text-transform: uppercase
                color: #FFFFFF
        .menu
            display: flex
            list-style: none
            padding: 0 17.5px 0 36px
            margin: 0
            &_list
                height: 90px
                border: none
                padding: 37px 12px 31px 13px
                font-family: Oswald
                font-weight: 300
                font-size: 15px
                line-height: 22px
                text-transform: uppercase
                color: #FFFFFF
                background: $main-color
                transition: 0.1s all
                &:hover
                    color: #310018
                    background: #FFFFFF
        .search_line
            display: flex
            flex-direction: column
            justify-content: flex-end
            margin: 40px 0 34px 0
            width: 45px
            height: 16px
            background: $main-color
            cursor: text
            &::after
                content: ''
                display: block
                position: absolute
                width: 45px
                height: 1px
                background: #FFFFFF
        .search_loupe
            display: flex
            flex-direction: column
            justify-content: flex-end
            margin-top: 44px
            width: 11px
            height: 11px
            background: $main-color
            padding: 0
            border: none
            &::after
                content: ''
                display: block
                position: absolute
                width: 10px
                height: 10px
                border: 2px solid #FFFFFF
                border-radius: 50%
            &::before
                content: ''
                display: block
                position: absolute
                width: 4px
                height: 1.5px
                background: #FFFFFF
                transform: translateX(7px) rotate(45deg)
        .language
            margin: 37px 0 31px 30px
            font-family: Oswald
            font-weight: 300
            font-size: 15px
            line-height: 22px
            text-transform: uppercase
            color: #FFFFFF
            cursor: pointer
.main
    min-height: 560px
    background: #FCFCF7
    &_block
        position: relative
        background: #FCFCF7
        min-height: 560px
        h1
            position: absolute
            left: 140px
            top: 104px
            font-family: Oswald
            font-weight: 700
            font-size: 50px
            line-height: 60px
            color: $main-color    
            z-index: 10
        &_btn
            position: absolute
            left: 140px
            top: 350px
            width: 320px
            height: 50px
            background: $main-color
            border: none
            font-family: Open Sans
            font-weight: 700
            font-size: 15px
            line-height: 20px
            align-items: center
            text-align: center
            letter-spacing: 0.05em
            text-transform: uppercase
            color: #FFFFFF
        &_img
            position: absolute
            width: 740px
            height: 560px
            left: 460px
            top: 0px
        &_rect
            position: absolute
            width: 424px
            height: 50px
            left: 140px
            top: 240px
            background: $accent
            border-radius: 19.6317px 54.5326px 20.7224px 8.72521px

.about
    min-height: 510px
    background: #E0E6E9
    .about_block
        position: relative
        background: #E0E6E9
        padding: 90px 140px 100px 140px
        &_h2
            position: absolute
            z-index: 10
        &_rect
            position: absolute
            width: 242px
            height: 40px
            left: 193px
            top: 90px
            background: $accent
            border-radius: 18px 50px 19px 8px
        &_dscr
            margin-top: 60px
            font-family: Open Sans
            font-weight: 400
            font-size: 20px
            line-height: 30px
            color: #000000
        .fact
            margin-top: 40px
            width: 200px
            height: 160px
            &_n
                font-family: Oswald
                font-weight: 400
                font-size: 90px
                line-height: 60px
                text-align: center
                color: $main-color
            &_dscr
                margin-top: 30px
                text-align: center
                @include dscr

.details
    min-height: 710px
    background: #FCFCF7
    &_block
        position: relative
        display: flex
        flex-direction: column
        align-items: flex-end
        min-height: 710px
        padding: 80px 140px 320px 140px
        background: url('../img/second_bg.png') center center/cover no-repeat
        &_h2
            position: absolute
            z-index: 10
        &_rect
            position: absolute
            width: 384px
            height: 40px
            left: 680px
            top: 84px
            background: $accent
            border-radius: 18px 50px 19px 8px
        &_dscr
            text-align: right
            margin: 45px 0 0 472px
            @include dscr
            .br
                height: 10px
        &_btn
            margin-top: 40px
            border: none
            width: 280px
            height: 40px
            background: $main-color
            font-family: Open Sans
            font-style: normal
            font-weight: 600
            font-size: 12px
            text-align: center
            letter-spacing: 0.05em
            text-transform: uppercase
            color: #FFFFFF
.services
    min-height: 630px
    background: #FCFCF7
    &_block
        position: relative
        min-height: 630px
        background: #FCFCF7
        padding: 89px 140px 100px 140px
        &_h2
            position: absolute
            z-index: 10
        &_rect
            position: absolute
            width: 100px
            height: 40px
            left: 210px
            top: 89px
            background: $accent
            border-radius: 18px 50px 19px 8px
        .row
            margin-top: 61px
            min-height: 380px
            display: flex
            justify-content: space-between
            align-content: space-between
            .service_btn
                display: flex
                flex-direction: column
                align-items: center
                margin: 0 12px 
                padding: 0
                width: 280px
                height: 180px
                background: #FCFCF7
                border: 1px solid #B1C0C9
                &_img
                    margin-top: 30px
                &_dscr
                    margin-top: 11px
.news
    min-height: 670px
    background: #E0E6E9
    &_block
        padding: 86px 140px 99px 140px
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        &_h2
            position: absolute
            left: 880px
            z-index: 10
        &_rect
            position: absolute
            width: 110px
            height: 40px
            left: 953px
            top: 89px
            background: $accent
            border-radius: 18px 50px 19px 8px
        .new
            margin-top: 94px
            padding: 0 18px
            &_date
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                color: #310018
            &_dscr
                margin-top: 15px
                margin-bottom: 30px
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                line-height: 25px
                color: #310018
            &_anchor
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                color: $main-color
            &_arrow
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                color: $main-color
                text-decoration: none
        &_drop
            margin-top: 45px
            display: flex
            justify-content: space-between
            width: 50px
            &_1
                width: 10px
                height: 10px
                border-radius: 50%
                border: 1px solid #310018 
                cursor: pointer
                &:hover
                    background: #B1C0C9
            &_2
                width: 10px
                height: 10px
                border: 1px solid #310018
                border-radius: 50% 
                cursor: pointer
                &:hover
                    background: #B1C0C9
            &_3
                width: 10px
                height: 10px
                border: 1px solid #310018 
                border-radius: 50%
                cursor: pointer
                &:hover
                    background: #B1C0C9
.comment
    min-height: 560px
    background: #FCFCF7
    &_block
        display: flex
        &_window
            position: relative
            padding: 85px 140px 111px 120px 
            display: flex
            flex-direction: column
            justify-content: space-between
            &_h2
                position: absolute
                text-align: center
                left: 163px
                z-index: 10
            &_rect
                position: absolute
                width: 188px
                height: 40px
                left: 184px
                top: 131px
                background: $accent
                border-radius: 18px 50px 19px 8px
            &_proposal
                margin-top: 114px
                padding: 10px
                width: 280px
                height: 170px
                background: #FFFFFF
                border: 1px solid $main-color
                cursor: text
                &_text
                    font-family: Open Sans
                    font-style: normal
                    font-weight: 300
                    font-size: 12px
                    line-height: 20px
                    color: #B1C0C9  
            &_send
                margin-top: 40px
                border: none
                width: 280px
                height: 40px
                background: $main-color
                font-family: Open Sans
                font-style: normal
                font-weight: 600
                font-size: 12px
                text-align: center
                letter-spacing: 0.05em
                text-transform: uppercase
                color: #FFFFFF

footer
    min-height: 240px
    background: $main-color
    .footer_block
        padding: 50px 140px
        &_logo
            &_dscr
                font-family: Oswald
                font-weight: 600
                font-size: 20px
                line-height: 30px
                text-transform: uppercase
                color: #FFFFFF
        &_menu
            display: flex
            flex-direction: column
            flex-wrap: wrap
            list-style: none
            text-decoration: none
            height: 110px
            margin-bottom: 0
            &_list
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                line-height: 27px
                color: #FFFFFF
                text-decoration: none
                    
        &_network
            &_h
                text-align: center
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                color: #FFFFFF
            &_icons
                display: flex
                justify-content: space-between
                padding: 20px 63px 0 63px
                &_img
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 22px
                    height: 22px
                    background: $main-color
                    border-radius: 50%
        &_feedback
            &_h
                font-family: Open Sans
                font-style: normal
                font-weight: 400
                font-size: 15px
                line-height: 25px
                color: #FFFFFF
            &_name
                margin-top: 21px
                font-family: Open Sans
                font-style: normal
                font-weight: 300
                font-size: 12px
                color: rgba(255, 255, 255, 0.7)
                cursor: text
                &::after
                    content: ''
                    display: block
                    width: 200px
                    height: 1px
                    background: #FFFFFF
            &_number
                margin-top: 13px
                font-family: Open Sans
                font-style: normal
                font-weight: 300
                font-size: 12px
                color: rgba(255, 255, 255, 0.7)
                cursor: text
                &::after
                    content: ''
                    display: block
                    width: 200px
                    height: 1px
                    background: #FFFFFF
            &_callme
                margin-top: 23px
                width: 200px
                height: 30px
                border: 1px solid #FFFFFF
                background: $main-color  
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 12px
                text-align: center
                letter-spacing: 0.05em
                text-transform: uppercase
                color: #FFFFFF

                    


            




    



